{{#*inline "page"}}
{{> navbar}}
<div class="header-extension" style="margin-bottom: 0;">
	<div class="blob container-fluid">
		<span>
			{{repo}}{{current_dir}}
			<span class="text-muted" style="margin-left: 1rem">
			<span title="{{files.0.properties_int}}">
			{{files.0.properties}}
			</span>
			<span title="{{files.0.size}}">
			{{files.0.size}}
			</span>
			</span>
			<div class="blob-nav" style="margin-left: 1rem">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="/{{repo}}/tree/{{branch}}{{current_dir}}">View</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/{{repo}}/log/{{branch}}{{current_dir}}">Log</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/{{repo}}/raw/{{branch}}{{current_dir}}">Blame</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/{{repo}}/blob/{{branch}}{{current_dir}}">View Raw</a>
					</li>
				</ul>
			</div>
		</span>
		{{#if commit}}
		<div class="commit">
			<a href="/{{repo}}/commit/{{commit.commit_hash}}">{{commit.commit_hash_short}}</a> —
			{{commit.commitie}}
			{{commit.commit}}
			<span class="text-muted">
			<span title="{{commit.time_utc}}">{{commit.time_relitive}}</span>
			</span>
		</div>
        <div class="clearfix">
        </div>
		{{/if}}
	</div>
</div>
<div class="container-fluid code-viewport">
	<div class="row" style="margin-right: 0;">
		<div class="col-md-12 code-view">
			<pre class="lines">
{{#each lines}}
<a href="#L{{this}}" id="L{{this}}">{{this}}</a>
{{/each}}
</pre>
			<div class="highlight">
				{{#if files.1}}
				{{{content}}}
				{{else}}
				<div style="padding: 1rem">
					<p> 
						{{files.0.size}} Binary file not shown.
					</p>
					<p>
						<a class="btn btn-primary" href="/{{repo}}/blob/{{branch}}{{current_dir}}" rel="nofollow">
							Download 
							<span aria-hidden="true" class="icon icon-caret-right">
								<svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
								</svg>
							</span>
						</a>
					</p>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{/inline}}
{{> layout}}
