{{#*inline "page"}}
{{> navbar}}
<div class="container">
    <h3>{{tag.name}}
        <small class="pull-right text-muted">
            <span title="{{tag.commit.time_utc}}">{{tag.commit.time_relitive}}</span>
        </small>
    </h3>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <a class="btn btn-primary btn-block" href="/{{repo}}/archive/{{tag.name}}.tar.gz">.tar.gz <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                </span></a>
                <a class="btn btn-default btn-block" href="/{{repo}}/tree/{{tag.name}}">browse <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                </span></a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="event-list">
                    <div class="event">
                    <pre style="padding-bottom: 0;">{{tag.body}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
{{/inline}}
{{> layout}}
