{{#*inline "page"}}
{{> navbar}}
<div class="container">
	<div class="row" style="margin-bottom: 1rem">
		<div class="col-md-8">
            {{#each tag.0}}
            <div class="event">
            <h4 style="margin-bottom: 0.5rem">
                <a href="/{{../repo}}/refs/{{this.name}}">
                    {{this.name}}
                </a>
                <small class="pull-right text-muted">
                    <span title="{{this.commit.time_utc}}">{{this.commit.time_relitive}}</span>
                    <a href="/{{../repo}}/archive/{{this.name}}.tar.gz" rel="nofollow" style="margin-left: 0.5rem">.tar.gz <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                    </span></a>
                    <a href="/{{../repo}}/tree/{{this.name}}" style="margin-left: 0.5rem">browse <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                    </span></a>
                    <a href="/{{../repo}}/log/{{this.name}}" style="margin-left: 0.5rem">log <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                    </span></a>
                </small>
            </h4>
            <pre style="padding-bottom: 0;">{{this.body}}</pre>
</div>            
            {{/each}}
			{{#if (ne total_page 1)}}
			<div class="row">
				<div class="col-4">
					{{#if (ne page 1)}}
					<a class="btn btn-default" href="?page={{page_dec}}">
						<span aria-hidden="true" class="icon icon-caret-left">
							<svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
								<path d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"></path>
							</svg>
						</span>
						prev
					</a>
					{{/if}}
				</div>
				<div class="col-4 text-centered">
					{{page}} / {{ total_page }}
				</div>
				{{#if (ne page total_page)}}
				<div class="col-4 text-right">
					<a class="btn btn-default" href="?page={{page_inc}}">
						next
						<span aria-hidden="true" class="icon icon-caret-right">
							<svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
							</svg>
						</span>
					</a>
				</div>
				{{/if}}
			</div>
			{{/if}}
        </div>
		<div class="col-md-4">
            <h3>Branches</h3>
            <div class="event-list">
                {{#each branch}}
                <div class="event">{{this.branch}}
                    <div>
                        <a href="/{{../repo}}/commit/{{this.commit.commit_hash}}" title="{{this.commit.commit_hash}}">{{this.commit.commit_hash_short}}</a> — {{this.commit.commitie}}
                        <small class="pull-right">
                            <a href="/{{../repo}}/log?from={{this.commit.commit_hash}}#log-{{this.commit.commit_hash}}" id="log-{{this.commit_hash}}"><span title="{{this.commit.time_utc}}">{{this.commit.time_relitive}}</span></a>
                        </small>
                    </div>
                    <div class="row" style="margin-top: 0.5rem">
                        <div class="col">
                            <a class="btn btn-block btn-primary" href="/{{../repo}}/tree/{{this.branch}}">browse <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg></span></a>
                        </div>
                        <div class="col">
                            <a class="btn btn-block btn-default" href="/{{../repo}}/log/{{this.branch}}">log <span aria-hidden="true" class="icon icon-caret-right"><svg viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg></span></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
	</div>
</div>
{{/inline}}
{{> layout}}
