<div class="header-tabbed" style="margin-top:56px">
	<div class="
	{{#if (eq fluid "true")}}
	container-fluid
	{{else}}
	container
	{{/if}}
	">
	<h2>
		<a href="/">~</a>/{{repo}}
	</h2>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link 
			{{#if (eq active "summary")}}
			active
			{{/if}}
			" href="/{{repo}}">summary</a>
		</li>
		{{#if config.website}}
		<li class="nav-item">
			<a class="nav-link" href="{{config.website}}" target="_new">
				website&nbsp;
				<span aria-hidden="true" class="icon icon-external-link-alt">
					<svg viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
						<path d="M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z"></path>
					</svg>
				</span>
			</a>
		</li>
		{{/if}}
		<li class="nav-item">
			<a class="nav-link
			{{#if (eq active "tree")}}
			active
			{{/if}}
			" href="/{{repo}}/tree">tree</a>
		</li>
		<li class="nav-item">
			<a class="nav-link
			{{#if (eq active "log")}}
			active
			{{/if}}
			" href="/{{repo}}/log">log</a>
		</li>
		<li class="nav-item">
			<a class="nav-link
			{{#if (eq active "refs")}}
			active
			{{/if}}
			" href="/{{repo}}/refs">refs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link
			{{#if (eq active "mailing_list")}}
			active
			{{/if}}
			" href="/{{repo}}/lists">mailing lists</a>
		</li>
		{{#if payment}}
		<li class="nav-item">
			<a class="nav-link" href="{{payment}}" target="_new">
				<span aria-hidden="true" class="icon icon-donate">
					<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-heart icon-sponsor mr-1 color-fg-sponsors">
						<path fill-rule="evenodd" d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"></path>
					</svg>
				</span>
				donate
			</a>
		</li>
		{{/if}}
	</ul>
</div>
</div>